html {
  color-scheme: dark light;
}

:root {
  --noroff-primary-red: #ff2f02;
  --noroff-secondary-red: #b21f01;
  --border-green: rgb(39, 185, 39);
  --border-red: rgb(230, 0, 0);
  --card-white: rgb(250, 250, 250);
  --card-black: rgb(20, 20, 20);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(10, 10, 10);
  --color-primary: rgb(5, 5, 5);
  --color-reverse: rgb(250, 250, 250);
  --tooltip: rgb(255, 255, 255);
  --card-box-shadow: 0 2px 12px rgb(40, 40, 40, 0.75);
  --background-gradient: linear-gradient(
    45deg,
    hsl(11deg 100% 50%) -1%,
    hsl(12deg 100% 58%) 0%,
    hsl(13deg 100% 63%) 4%,
    hsl(14deg 100% 68%) 11%,
    hsl(15deg 100% 73%) 20%,
    hsl(16deg 100% 78%) 31%,
    hsl(17deg 100% 84%) 44%,
    hsl(17deg 100% 89%) 60%,
    hsl(18deg 100% 94%) 78%,
    hsl(0deg 0% 100%) 100%
  );
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --card-white: rgb(245, 245, 245);
    --card-black: rgb(30, 30, 30);
    --color-primary: rgb(250, 250, 250);
    --color-reverse: rgb(10, 10, 10);
    --background-primary: rgb(15, 15, 15);
    --card-box-shadow: 0px 2px 12px rgb(70, 70, 70, 0.75);
    --background-gradient: linear-gradient(
      45deg,
      hsl(11deg 100% 50%) -1%,
      hsl(6deg 85% 48%) 0%,
      hsl(2deg 77% 44%) 4%,
      hsl(360deg 72% 39%) 11%,
      hsl(358deg 69% 33%) 20%,
      hsl(358deg 66% 27%) 31%,
      hsl(357deg 60% 21%) 44%,
      hsl(358deg 53% 15%) 60%,
      hsl(3deg 48% 9%) 78%,
      hsl(0deg 100% 0%) 100%
    );
  }
}
* {
  box-sizing: border-box;
}

:root {
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-primary);
}

header {
  background-color: var(--noroff-primary-red);
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
}
header .logoContainer {
  margin-left: 1.5em;
}
header .logoContainer img {
  object-fit: contain;
}

main {
  margin: 0 auto;
  max-width: 60em;
  padding: 1em;
}

.hero-section {
  margin-bottom: 3em;
  text-align: center;
}
.hero-section .hero-title {
  font-size: var(--fs-900);
  margin: 0.25em;
}
.hero-section .hero-subtitle {
  font-size: var(--fs-700);
  margin: 0;
}
.hero-section .hero-paragraph {
  font-size: var(--fs-500);
}

.cards h2 {
  font-size: var(--fs-700);
  text-align: center;
}
.cards section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.cards section a {
  flex: 1;
}
.cards section a .card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 1em;
  min-width: 11em;
  height: 8.5em;
  padding: 1em 0.25em;
  transition: transform 0.3s ease;
  box-shadow: var(--card-box-shadow);
}
.cards section a .card img {
  object-fit: cover;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  margin-bottom: 1em;
  box-shadow: 0px 0px 8px rgb(100, 100, 100);
}
.cards section a .card span {
  font-size: var(--fs-300);
}
.cards section a .card:hover {
  transform: translateY(-5px);
}
.cards section a .tooltip {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  width: 8em;
  height: 6em;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 1;
  bottom: 110%;
  opacity: 0;
  visibility: hidden;
  color: var(--color-black);
  background-color: var(--tooltip);
}
.cards section a .card:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}
.cards .cards-active {
  margin-bottom: 5em;
}
.cards .cards-active a .card {
  max-width: 30em;
  background-color: var(--card-white);
  color: var(--color-black);
  border: 3px solid var(--border-green);
}
.cards .cards-inactive a .card {
  background-color: var(--card-black);
  color: var(--color-white);
  border: 3px solid var(--border-red);
}

footer {
  display: grid;
  place-items: center;
  margin-top: auto;
  height: 4em;
  background-color: var(--noroff-primary-red);
}
footer * {
  font-size: var(--fs-500);
  color: var(--color-white);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
